@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Martin';
        src: url('./fonts/Martin-Regular.ttf');
    }
    @font-face {
        font-family: 'Manrope';
        src: url('./fonts/Manrope-Regular.ttf');
    }
    html {
        @apply bg-soft-white;
    }
    .candidates-column {
        @apply grid gap-2 grid-flow-row content-start auto-cols-max justify-center;
        grid-template-columns: repeat(auto-fit, 36px);
        grid-template-rows: 36px;
    }
    .candidates-column.single {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    @screen md {
        .candidates-column {
            @apply grid-flow-col;
            grid-template-rows: repeat(11, 36px);
        }
    }
}
